/* Profile.css */

.profile-container {
  margin: 80px auto;
  margin-bottom: 240px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;

}

.profile-details {
  margin-bottom: 20px;
}

.profile-details p {
  font-size: 16px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .profile-container {
    margin: 75px auto;
    padding: 15px;
    width: 80%;
    margin-bottom: 200px;
  }

  .profile-details p {
    font-size: 14px;
  }

  .btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}
